<app-header></app-header>
<!-- <div class="container"> -->
    <section class="d-flex align-items-center">
        <div class="container">
            <img src="/assets/images/main.jpg" alt="" />
        </div>   
    </section>
    <div class="">
        <img src="/assets/images/who.jpg" alt="" />
    </div>
    <div class="price">
        <img src="/assets/images/price.png" alt="" />
    </div>
    <div class="">
        <img src="/assets/images/work.jpg" alt="" />
    </div>
    <div class="">
        <img src="/assets/images/articles.jpg" alt="" />
    </div>
    <div class="">
        <img src="/assets/images/footer.png" alt="" />
    </div>
<!-- </div> -->